<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodaj wydarzenie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>

    <script src="event.module.js"></script>
    <script src="event.controller.js"></script>

</head>
<body ng-app="event">
<div ng-controller="EventController as controller">
    <div class="bs-example">
        <form ng-submit="controller.submit()" name="eventForm">
            <div class="form-group">
                <label for="name">Nazwa wydarzenia</label>
                <input type="text" class="form-control" ng-model="controller.event.name" id="name" placeholder="Nazwa wydarzenia">
            </div>
            <div class="form-group">
                <label for="location">Gdzie?</label>
                <input type="text" class="form-control" ng-model="controller.event.location" id="location" placeholder="Miasto, ulica, lokal">
            </div>
            <div class="form-group">
                <label for="date">Kiedy?</label>
                <input type="text" class="form-control" ng-model="controller.event.date" id="date" placeholder="Dokładna data, godzina">
            </div>
            <input type="submit" class="btn btn-primary" value="Dodaj wydarzenie"/>
        </form>
    </div>

    <div>
        <div ng-repeat="event in controller.events">
            {{event.name}}
            {{event.location}}
            {{event.date}}
        </div>
    </div>
</div>


</body>
</html>